body {
    background-color: #00A3A2;
    display: flex;
}

#container {
    width: 1300px;
    height: 580px;
    background-color: white;
    margin-left: 10%;
    border-radius: 20px;
    justify-content: space-between;
}