#type-of-search {
display: flex;
height: 50px;
width: 950px;
border-bottom: 1px solid black;
}

#show-current-residents {
    scrollbar-width: none;
    overflow: scroll;
    height: 520px;
    width: 950px;
    border-radius: 20px;
}

.current-resident {
    border: 1px solid black;
    width: 940px;
    height: 55px;
    border-radius: 35px;
    margin: 10px;
    display: flex;
}

.part-of-name-resident h2 {
    text-align: center;
    color: black;
}

.part-of-name-resident {
    height: 55px;
    width: 140px;
}

.part-of-room {
    height: 55px;
    width: 400px;
}

.part-of-room h2{
    text-align: center;
    color: black;
}

.part-of-contdown {
    height: 55px;
    width: 400px;
}

.part-of-contdown h2 {
    text-align: center;
    color: black;
}

.part-of-priod input {
   width: 100px;
}

.part-of-country select {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
