body {
    background-color: #00A3A2;
    display: flex;
}

.main-events {
    width: 200px;
    height: 580px;
}

.main-events button {
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: goldenrod;
    border: none;
}

.main-events button:hover {
    background-color: white;
}

.box {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* border: 1px solid black; */
    border-radius: 5px;
    /* padding: 15px; */
    width: 100px;
    height: 150px;
    box-shadow:0px 14px 28px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.22) ;
    transition: .4s;
}

.img-box {
    width: 100%;
    height: 180px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    /* margin-top: 20px;
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px; */
    width: 100%;
    height: 80%;
}

h2 {
    font-size: 20px;
    color: red;
}

#button-of-card{
    width: 100%;
    margin-right: 55.6px;
    margin-left: 0.6px;
    margin-top: 47px; 
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
    transition: ease-out 0.5s;
    outline: none;
    box-shadow: inset 0 0 0  black;  
}


#button-of-card:hover {
   box-shadow: inset 300px 0 0 0  #023047;
}



#container {
    width: 1300px;
    height: 580px;
    background-color: white;
    margin-left: 10%;
    border-radius: 20px;
    justify-content: space-between;
}

.setParameters {
    width: 100%;
    height: 5%;
    border-bottom: solid 1px black;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.showInformation {
    width: 100%;
    height: 90%;

    overflow: hidden;
    overflow-y: scroll;
}

/*            dropdown style                */
/* CSS for Dropdown */
.dropdown-container {
    display: flex;
  }
  
  .dropdown-wrapper {
    margin-right: 10px;
  }
  
  .dropdown-button {
    margin-top: 5px;
  }
  
.pr{
    margin-right: 50px;
}
table {
    border-collapse: separate;
    border-spacing: 10px 30px; /* Adjust the second value (10px) to increase or decrease the space between rows */
}
/********************************************/